<main id="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <!-- <img src="/src/assets/img/hero-bg.jpg" alt="" data-aos="fade-in" class=""> -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <h2>Surya Prakash</h2>
            <p>I'm <span class="typed"
                    data-typed-items="Devops Engineer, Cloud Engineer, AI/ML Engineer, Software Developer, Editor, Photographer, Computer Technician"></span><span
                    class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span
                    class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
        </div>

    </section><!-- /Hero Section -->
</main>