<header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="assets/img/SP-DP.jpg" alt="Image of surya" class="img-fluid rounded-circle">
    </div>

    <a href="" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>Surya Prakash</h1>  
    </a>

    <div class="social-links text-center">
      <a href="https://github.com/Aries-Surya" class="line-md--github"></a>
        <a href="https://www.credly.com/users/surya-prakash-govindasamy" class="simple-icons--credly"></a>
        <a href="https://www.linkedin.com/in/suryaprakash81/" class="line-md--linkedin"></a>
        <a href="https://www.coursera.org/learner/surya-prakash-govindasamy" class="simple-icons--coursera"></a>
        <a href="https://hub.docker.com/u/ariessurya" class="devicon-plain--docker-wordmark"></a>
        <a href="https://x.com/aries_surya_" class="ph--x-logo"></a>
        <a href="https://www.hackerrank.com/profile/aries_surya" class="tabler--brand-hackerrank"></a>
        <a href="https://www.skillrack.com/faces/resume.xhtml?id=433740&key=e3a4532d62677cc8c79a68e7c8d7d21fa826cad8" class="mynaui--code-waves"></a>
        <a href="https://www.facebook.com/ariessurya81" class="line-md--facebook"></a>
        <a href="https://www.instagram.com/aries_surya_" class="line-md--instagram"></a>
        <a href="https://www.youtube.com/@SuryaInformative" class="line-md--youtube-filled"></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active"><i class="bi bi-house navicon" ></i>Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i>About</a></li>
        <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li><a href="#projects"><i class="bi bi-hdd-stack navicon"></i>Projects</a></li>
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

  </header>
