<main id="main">
    <section id="resume" class="resume">
        <div class="container">
            <div class="section-title">
                <h2>Resume</h2>
                <a href="">Click to view my resume</a>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Bachelor of Computer Science &amp; Engineering</h4>
                        <h5>2021 - 2025</h5>
                        <p><em>S. A. Engineering College <b>(CGPA: 8.5)</b></em></p>
                    </div>
                    <div class="resume-item">
                        <h4>Higher Secondary Education</h4>
                        <h5>2020- 2021</h5>
                        <p><em>Jaya Matriculation Hr Sec School <b>(80%)</b></em></p>
                    </div>
                    <div class="resume-item">
                        <h4>SSLC</h4>
                        <h5>2019- 2020</h5>
                        <p><em>Jaya Matriculation Hr Sec School <b>(72%)</b></em></p>
                    </div>

                </div>
                
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    <p>Will be updated very soon..!</p>
                    <!-- <div class="resume-item">
                    <h4>Job Professional</h4>
                    <h5>Year</h5>
                    <p><em>Location</em></p>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div> -->
                    <!-- <div class="resume-item">
                    <h4>Job Professional</h4>
                    <h5>Year</h5>
                    <p><em>Location</em></p>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div> -->
                </div>
            </div>
        </div>
    </section>
</main>