<main id="main">
    <section id="resume" class="resume">
        <div class="container">
            <div class="section-title">
                <h2>Resume</h2>
                <a href="">Click to view my resume</a>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Bachelor of Computer Science &amp; Engineering</h4>
                        <h5>2021 - 2025</h5>
                        <p><em>S. A. Engineering College <b>(CGPA: 8.5)</b></em></p>
                    </div>
                    <div class="resume-item">
                        <h4>Higher Secondary Education</h4>
                        <h5>2020- 2021</h5>
                        <p><em>Jaya Matriculation Hr Sec School <b>(80%)</b></em></p>
                    </div>
                    <div class="resume-item">
                        <h4>SSLC</h4>
                        <h5>2019- 2020</h5>
                        <p><em>Jaya Matriculation Hr Sec School <b>(72%)</b></em></p>
                    </div>

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Machine Learning Trainee – AI in QA</h4>
                        <h5>Jun 2025 - Present</h5>
                        <p><em>Onsite - Zoho Corporation</em></p>
                        <ul>
                            <li>I am presently engaged in developing the Step Recorder Browser Extension, which captures
                                user action steps to create a report. It also prompts the generation of a QA automation
                                script and recommends all potential test cases based on user actions.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Machine Learning Intern – ZIA Model Analysis </h4>
                        <h5>Mar 2025 - Jun 2025</h5>
                        <p><em>Onsite - Zoho Corporation</em></p>
                        <ul>
                            <li>I gained hands-on experience with machine learning models like ZIA Model Evaluation to
                                evaluate the performance of the model and improve the accuracy of the model.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Web Development (Internship)</h4>
                        <h5>Jan 2025 - Feb 2025</h5>
                        <p><em>Remote - Datasoftixs</em></p>
                    </div>
                    <div class="resume-item">
                        <h4>Cyber Security Specialist(Internship)</h4>
                        <h5>Jun 2024 - Jul 2024</h5>
                        <p><em>Remote - TechnoHacks EduTech</em></p>
                        <ul>
                            <li>I gained hands-on experience with virtualization tools like VirtualBox and VMware to
                                create secure setups. I also used Wireshark to analyse network packets and identify
                                vulnerabilities in HTTP traffic, leveraged Nmap to detect open ports and perform
                                vulnerability analysis in simulated environments, and practised advanced Linux commands
                                to enhance system security and administration.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>